<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>391652189055-f30tt5v633s4r00p9570hg1m091qfej2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.391652189055-f30tt5v633s4r00p9570hg1m091qfej2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>391652189055-vbjt4rdq56pj99g2ot52532mverc59bm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB7G-GbiZBEI2aBRg80up1KvQxugYiDTZg</string>
	<key>GCM_SENDER_ID</key>
	<string>391652189055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.osmangaziyildiz.notetakingapp</string>
	<key>PROJECT_ID</key>
	<string>note-taking-fd8fc</string>
	<key>STORAGE_BUCKET</key>
	<string>note-taking-fd8fc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391652189055:ios:750caf53efe5cb3b40f04a</string>
</dict>
</plist>